@use super::statics::*;
@use crate::statics::VersionInfo;

@(title: &str, header: &str, content: Content, version_info: VersionInfo)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Petnames" />
    <meta name="description" content="Petnames" />
    <link rel="stylesheet" href="/static/@mvp_css.name" />
    <title>@title</title>
</head>
<body>

<header>
    <h1>@header</h1>
</header>

<main>
    <hr />
    @:content()
</main>

<footer>
    <div>
        <small>Created by <a href="https://www.vbrandl.net">Valentin Brandl</a>.</small>
    </div>
    <div>
        <small>Petnames v@version_info.version - <a href="https://github.com/vbrandl/petnames-generator/commit/@version_info.commit">@version_info.commit</a></small>
    </div>
    <div>
    <ul>
        <li><small><a href="https://github.com/vbrandl/petnames-generator">GitHub</a></small></li>
        <li><small><a href="https://opensource.org/licenses/MIT">MIT License</a></small></li>
    </ul>
    </div>
</footer>

</body>
</html>
